# Backend API
BACKEND_API_URL=http://localhost:8000/api/v1

# Streamlit
STREAMLIT_CLIENT_THEME_BASE=light
STREAMLIT_CLIENT_TOOLBAR_MODE=minimal

# App
APP_TITLE=AINU-Narayama
APP_SUBTITLE=Índice de Narayama Sistêmico
LOG_LEVEL=INFO

# Admin Contact
ADMIN_EMAIL=narayama.live@gmail.com
